<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Details</title>
<link th:href="@{/IndexStyling.css}" rel="stylesheet" />
</head>
<body>

<table>
<caption>Employee Details</caption>

    <tr>
    	<th scope="row">id</th>
        <th scope="row">forename</th>
        <th scope="row">surname</th>
        <th scope="row">age</th>
        <th scope="row">company</th>
        <th scope="row">postcode</th>
    </tr>

    <tr th:each="data : ${display}">
    	<td th:text="${data.id}">id</td>
        <td th:text="${data.forename}">forename</td>
        <td th:text="${data.surname}">surname</td>
        <td th:text="${data.age}">age</td>
         <td th:text="${data.company}">company</td>
          <td th:text="${data.postcode}">postcode</td>
    </tr>
</table>
<br/>
<br/>
</body>
</html>