<!DOCTYPE html>
<html lang="en"> 
<head>
<meta charset="ISO-8859-1">
<title>Enter Data</title>
<link th:href="@{/IndexStyling.css}" rel="stylesheet" />
</head>
<body>
<form action="save" method="post">    
<table> 
<caption>Enter the following details !!</caption>

<tr>    
<th scope="row"><label for="id">id</label></th>
<th scope="row"><input type="number" name="id" required></input></th>    
</tr> 

<tr>    
<th scope="row"><label for="forename">Forename</label></th>    
<th scope="row"><input type="text" name="forename" required></input></th>    
 </tr>  
   
<tr>    
<th scope="row"><label for="surname">Surname</label></th>    
<th scope="row"><input type="text" name="Surname" required></input></th>    
 </tr>    
 

<tr>    
<th scope="row"><label for="age">Age</label></th>    
<th scope="row"><input type="number" name="age" min="1" required></input></th>    
</tr>    

<tr>    
<th scope="row"><label for="company">Company</label></th>    
<th scope="row"><input type="text" name="company" required></input></th>    
</tr>  

<tr>    
<th scope="row"><label for="postcode">Postcode</label></th>    
<th scope="row"><input type="number" name="postcode" min="1" required></input></th>    
</tr>

<tr>
<th scope="row"><input type="reset" value="Reset"></input></th>       
<th scope="row"><input type="submit" value="Submit"></input></th> 
  
</tr>    
</table>
</form>
</body>
</html>


