<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Details</title>
<link th:href="@{/IndexStyling.css}" rel="stylesheet" />
</head>

 <body>
<p>Record Inserted Successfully</p>
<br/>
<br/>
<a href="http://localhost:8080">Want to Enter some more employee details?! </a>
<br/>
<br/>
<a href="retrieve">Show All Details</a>
<br/>
<br/>
<h3>Enter ID to Get specific employee details </h3>
<form action="/authenticate">
<input type="text" id="id" name="id"></input>
<br/> <br/> <br/>
<input type="submit"></input>
</form>

<br/>
<br/>
<h3>Enter ID to Delete an employee</h3>
<form action="/deleteemp">
<input type="text" id="id" name="id"></input>
<br/> <br/> <br/>
<input type="submit"></input>
</form>
</body> 
</html>

